---
title: Pokemon Favorites
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="generator" content="{{ eleventy.generator }}" />
    <title>{{ title }}</title>

    <link rel="stylesheet" href="/assets/global.css" />
  </head>

  <body>
    <style>
      nav {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;

        & > div {
          display: flex;
          flex-wrap: wrap;
          gap: 2rem;
          justify-content: center;
        }
      }
    </style>
    <nav class="container">
      <h1>My FavPoke</h1>
      <div>
        <web-link class="btn" to="/">Home</web-link>
        <web-link class="btn" to="/favorites">Favorites</web-link>
      </div>
    </nav>

    <main class="container">{{ content }}</main>

    {% render "../web-components/pokemon-list/index.html" %} {% render
    "../web-components/pokemon-item/index.html" %} {% render
    "../web-components/pokemon-page-init/index.html" %} {% render
    "../web-components/pokemon-fav-list/index.html" %}
    <script type="module" src="/assets/router.js"></script>
  </body>
</html>
