<template id="pokemon-list">
  <style>
    pokemon-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 2rem;

      ul {
        padding: 0;
        display: flex;
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  </style>
  <ul></ul>
  <button class="btn">Load More</button>
</template>

<script type="module" src="/web-components/pokemon-list/index.js"></script>
