<style>
  pokemon-page-init {
    width: 100%;
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

<script type="module" src="/web-components/pokemon-page-init/index.js"></script>
