<template id="pokemon-item">
  <style>
    pokemon-item {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      gap: 1rem;
      border: 1px solid #000;
      border-radius: 15px;
      min-width: 200px;
      min-height: 200px;
      position: relative;

      web-link:hover {
        text-decoration: underline;
      }

      figure {
        border-radius: 15px;
      }

      &:hover {
        background-color: rgba(0, 0, 0, 0.2);
      }

      button {
        position: absolute;
        top: 0;
        right: 0;
        width: fit-content;
        height: fit-content;
        background-color: rgba(0, 0, 0, 0);
        border: none;
        cursor: pointer;

        svg {
          height: 2rem;
          width: 2rem;
        }
      }
    }
  </style>
  <h2><web-link to="/pokemon/[[name]]">[[name]]</web-link></h2>
  <figure>
    <img src="[[src]]" alt="[[name]]" />
  </figure>
  <div>
    <h3>Types</h3>
    <p>[[types]]</p>
  </div>
  <button>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor">
      <path
        d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
      />
    </svg>
  </button>
</template>

<script type="module" src="/web-components/pokemon-item/index.js"></script>
