* {
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 15px;
}

.btn {
  padding: 1rem 2rem;
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
  border-radius: 15px;
  cursor: pointer;

  &:hover {
    background-color: #000;
    color: #fff;
  }
}
