---
layout: layout.html
---

<web-router>
  <web-route path="/"> {% render "./_pages/home.html" %} </web-route>
  <web-route path="/favorites"> {% render "./_pages/favorites.html" %} </web-route>
  <web-route path="/pokemon/:slug"> {% render "./_pages/pokemon.html" %} </web-route>
</web-router>
